<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Piri Loadbalancer</title>
		<!--<script src="https://unpkg.com/vue"></script>-->
		<!-- development version, includes helpful console warnings -->
		<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-chartjs/3.4.0/vue-chartjs.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- production version, optimized for size and speed -->
		<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
		<style type="text/css">
			body {
				font-family: Arial, Helvetica, sans-serif;
			}
			
			.nodes {
				width: 100%;
				text-align: center;
			}
			
			.nodes td {
				padding: 30px;
				/*border-right: 1px solid #eee;*/
			}
			
			.nodes td:first-child {
				font-weight: bold;
			}
			
			.color-green {
				color: #20b000;
			}
			
			.color-red {
				color: #b00020;
			}
			
			.highlight-enter-active {
				animation: highlight 2s;
			}
			
			@keyframes highlight {
				0% { background-color: yellow; }
				100% { background-color: inherit; }
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>{{ title }}</h2>
			<table class="nodes">
				<tr v-for="node in nodes" class="node">
					<td>
						{{ node.name }}
					</td>
					<td>
						{{ node.appName }}-{{ node.appVersion }}
					</td>
					<td>
						<transition name="highlight" mode="out-in">
							<span :key="node.milestone">{{ node.milestone }}</span>
						</transition>
					</td>
					<td>
						<span class="color-green" v-if="node.synced">synchronisiert</span>
						<span class="color-red" v-else>asynchron</span>
					</td>
					<td>
						<span class="color-green" v-if="node.available">verfügbar</span>
						<span class="color-red" v-else>nicht verfügbar</span>
					</td>
					<td>
						<transition name="highlight" mode="out-in">
							<span :key="node.count">{{ node.count }}</span>
						</transition>
					</td>
					<td>
						<transition name="highlight" mode="out-in">
							<span :key="node.millis">{{ node.millis }}</span>
						</transition>
					</td>
				</tr>
			</table>
			<!--<line-chart></line-chart>-->
		</div>

		<script>
			nodeApiUrl = 'https://iri.trytes.eu/nodes';
		
			var data = {
				nodes:		[],
				title:		'PIRI Load-Balancer'
			};
			var chartdata = {
				delayAverage: [10, 20, 5, 8]
			};
			
			/*Vue.component('line-chart', {
				extends: VueChartJs.Line,
				mounted () {
					this.renderChart(
						{
							labels: ['Test1', 'Test2'],
							datasets: [
								{
									label: 'DelayAverage',
									backgroundColor: '#83d8e6',
									data: chartdata.delayAverage
								}
							]
						},
						{
							responsive: true,
							maintainAspectRatio: false
						}
					)
				}
			});*/

			var app = new Vue({
				el: '#app',
				data: data,
				mounted:
					function() {
						interval = setInterval(() => {
							axios.get(nodeApiUrl)
							.then(function (response) {
								// handle success
								this.data.nodes = response.data;
								console.log("refreshed nodes...")
							})
							.catch(function (error) {
								// handle error
								console.log(error);
							})
						}, 5000)
					},
				created:
					function () {
						axios.get(nodeApiUrl)
							.then(function (response) {
								// handle success
								this.data.nodes = response.data;
								console.log("loaded nodes...")
							})
							.catch(function (error) {
								// handle error
								console.log(error);
							})
					}
			});
		</script>
	</body>
</html>